#login{
    text-align: right;
    margin-right: 2em;
    font-family: 楷体;
    font-size:20px;
}

#english{
    text-align: right;
    margin-right: 5em;
    font-family: 楷体;
    font-size:20px;
}

.guide {
	text-align:center;
    padding:0em 35px 0em 0 35px;
	background-color: rgb(80, 235, 235);
    background-image: linear-gradient(to bottom right,rgb(4, 217, 255),rgb(56, 78, 202));
	width: 97.4%;
	height: 65px;
	list-style-type:none;
}

.guide li {
	float: left;
	position: relative;
	list-style-type: none;
	width: 100px;
	height: 65px;
    font-family:华文中宋;
}

.guide li a {
	display: block;
	line-height: 65px;
	text-decoration: none;
	font-size: 20px;
	color: white;	
}

.guide li:hover>a {
	background-color: rgb(80, 235, 235)
}

.guide li:hover dl {
	display: block;
}

.guide dl {
	display: none;
	position: absolute;
	left: 0;
	top: 48px;
	width: 100%;
	background-color: rgb(24, 76, 136);
	position: absolute;
	z-index: 99999;
}

.guide dl dd {
	z-index: 99996;
	margin-left: 0;
	width: 100%;
	text-align: center;
	color: black;
}

.guide dl dd a {
	display: block;
	width: 100%;
	color: rgb(80, 235, 235);
	font-size: 16px;
	line-height: 45px;
}

.guide dd:hover>a {
	background-color: rgba(60, 192, 179, 0.829);
	color: black;
}



#box{
    text-align: center;
    margin: 0 auto;
}

.banner{
    width: 50rem;
    height: 25rem;
}

.dialogue{
    font-family: MV Boli;
    font-size: 40px;
    color: cornflowerblue;
}

#footer{
    font-size: small;
}



a{text-decoration: none;}

a:hover{
    text-decoration: underline;
    color: blue;
}